.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 0;
  height: 500px;
  margin-top: -16px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-passive-icon-1 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-2 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-3 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-4 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-5 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-passive-icon-6 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-7 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-8 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-9 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-10 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-passive-icon-11 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-12 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-13 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-14 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-15 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-passive-icon-16 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-17 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-18 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-19 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-20 {
  display: inline;
  height: 24px;
  width: 24px;
}